COMP-6934 - Data Visualization - Assignment No 1

Title - Starwars Data Visualization Assignment using Pandas

Name - Priyanka Maru

Student Id - 202091536

Date - 20th January 2022

Import the Dataset using Pandas dataframe

In [19]:
import pandas as pd
star_wars = pd.read_csv(r'starwars.csv')
star_wars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1186 entries, 0 to 1185
Data columns (total 38 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   id                               1186 non-null   float64
 1   seen_any_films                   1186 non-null   object
 2   fan                              836 non-null    object
 3   seen_episode1                    936 non-null    object
 4   seen_episode2                    936 non-null    object
 5   seen_episode3                    936 non-null    object
 6   seen_episode4                    936 non-null    object
 7   seen_episode5                    936 non-null    object
 8   seen_episode6                    936 non-null    object
 9   rank_episode1                    835 non-null    float64
 10  rank_episode2                    836 non-null    float64
 11  rank_episode3                    835 non-null    float64
 12  rank_episode4                    836 non-null    float64
 13  rank_episode5                    836 non-null    float64
 14  rank_episode6                    836 non-null    float64
 15  view_han_solo                    829 non-null    object
 16  view_luke_skywalker              831 non-null    object
 17  view_princess_leia_organa        831 non-null    object
 18  view_anakin_skywalker            823 non-null    object
 19  view_obi_wan_kenobi              825 non-null    object
 20  view_emperor_palpatine           814 non-null    object
 21  view_darth_vader                 826 non-null    object
 22  view_lando_calrissian            820 non-null    object
 23  view_boba_fett                   812 non-null    object
 24  view_c3p0                        827 non-null    object
 25  view_r2d2                        830 non-null    object
 26  view_jar_jar_binks               821 non-null    object
 27  view_padme_amidala               814 non-null    object
 28  view_yoda                        826 non-null    object
 29  who_shot_first                   828 non-null    object
 30  familiar_with_expanded_universe  828 non-null    object
 31  fan_expanded_universe            213 non-null    object
 32  fan_star_trek                    1068 non-null   object
 33  gender                           1046 non-null   object
 34  age                              1046 non-null   object
 35  household_income                 858 non-null    object
 36  education                        1036 non-null   object
 37  location                         1043 non-null   object
dtypes: float64(7), object(31)
memory usage: 352.2+ KB

Viewing the starwars Dataframe

In [20]:
star_wars

,id,seen_any_films,fan,seen_episode1,seen_episode2,seen_episode3,seen_episode4,seen_episode5,seen_episode6,rank_episode1,...,view_yoda,who_shot_first,familiar_with_expanded_universe,fan_expanded_universe,fan_star_trek,gender,age,household_income,education,location
0,3.292880e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,3.0,...,Very favorably,I don't understand this question,Yes,No,No,Male,18-29,NaN,High school degree,South Atlantic
1,3.292880e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Yes,Male,18-29,"$0 - $24,999",Bachelor degree,West South Central
2,3.292765e+09,Yes,No,Yes,Yes,Yes,No,No,No,1.0,...,Unfamiliar (N/A),I don't understand this question,No,NaN,No,Male,18-29,"$0 - $24,999",High school degree,West North Central
3,3.292763e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5.0,...,Very favorably,I don't understand this question,No,NaN,Yes,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
4,3.292731e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5.0,...,Somewhat favorably,Greedo,Yes,No,No,Male,18-29,"$100,000 - $149,999",Some college or Associate degree,West North Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1181,3.288389e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,5.0,...,Very favorably,Han,No,NaN,Yes,Female,18-29,"$0 - $24,999",Some college or Associate degree,East North Central
1182,3.288379e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,4.0,...,Very favorably,I don't understand this question,No,NaN,Yes,Female,30-44,"$50,000 - $99,999",Bachelor degree,Mountain
1183,3.288375e+09,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,Female,30-44,"$50,000 - $99,999",Bachelor degree,Middle Atlantic
1184,3.288373e+09,Yes,Yes,Yes,Yes,Yes,Yes,Yes,Yes,4.0,...,Very favorably,Han,No,NaN,Yes,Female,45-60,"$100,000 - $149,999",Some college or Associate degree,East North Central
1185,3.288373e+09,Yes,No,Yes,Yes,No,No,Yes,Yes,6.0,...,Very unfavorably,I don't understand this question,No,NaN,No,Female,> 60,"$50,000 - $99,999",Graduate degree,Pacific

Question 1 : Write code that determines the number of unique values for age.

Answer : 4 , ['18-29' '30-44' '> 60' '45-60']

In [21]:
print('Q1. Write code that determines the number of unique values for age.(without null values)')
print()
star_wars_age = star_wars['age'].dropna().unique()
print()
print(star_wars_age)
print()
len(star_wars_age)

Q1. Write code that determines the number of unique values for age.(without null values)


['18-29' '30-44' '> 60' '45-60']

4

Question 2: 
Write code that lists all the unique responses to the question, "Who shot first?" (who_shot_first
field).

Answer : "I don't understand this question" , nan , 'Greedo' ,'Han'

In [22]:
print('Q2. Write code that lists all the unique responses to the question')
print()
star_wars_res = star_wars['who_shot_first'].unique()
print(star_wars_res)

Q2. Write code that lists all the unique responses to the question

["I don't understand this question" nan 'Greedo' 'Han']

Question 3:

Write code to determine the number of entries in the data set that view Darth Vader as "Very
favorably" or "Somewhat favorably".

Answer : Number of Enteries in the data set that view Darth Vader as "Very favorably" or "Somewhat favorably" is 481

In [23]:
print('Q3. Write code to determine the number of entries in the data set that view Darth Vader as Very favorably or Somewhat favorably.')
print()
star_wars_very_fav_1 = star_wars.loc[(star_wars['view_darth_vader'] == 'Very favorably') | (star_wars['view_darth_vader'] == 'Somewhat favorably')]
print(len(star_wars_very_fav_1))

Q3. Write code to determine the number of entries in the data set that view Darth Vader as Very favorably or Somewhat favorably.

481

Question 4: 
Write code that computes the total number of people that have seen all 6 Star Wars films (hint:
471).

Answer : 471

In [24]:
print('Q4. Write code that computes the total number of people that have seen all 6 Star Wars films')
print()
star_wars_epi = star_wars.loc[(star_wars['seen_episode1']=="Yes") & (star_wars['seen_episode2']=="Yes") & (star_wars['seen_episode3']=="Yes") & (star_wars['seen_episode4']=="Yes") & (star_wars['seen_episode5']=="Yes") & (star_wars['seen_episode6']=="Yes")]
len(star_wars_epi)

Q4. Write code that computes the total number of people that have seen all 6 Star Wars films

471

Question 5: 
Write code that computes the percentage of males and females that are fans of Star Wars.

Answer: 
Percentage of Males who are fans of star wars is 60.96579476861167 and 

Percentage of Females who are fans of star wars is 43.35154826958106

In [25]:
print('Q5. Write code that computes the percentage of males and females that are fans of Star Wars.')
star_wars_male = star_wars.loc[(star_wars['gender'] == "Male") & (star_wars['fan'] == "Yes")]
star_wars_female = star_wars.loc[(star_wars['gender'] == "Female") & (star_wars['fan'] == "Yes")]
star_wars_total_male = star_wars.loc[(star_wars['gender'] == "Male")]
star_wars_total_female = star_wars.loc[(star_wars['gender'] == "Female")]
print('Percentage of Males who are fans of star wars is', len(star_wars_male)/len(star_wars_total_male) * 100)
print()
print('Percentage of females who are fans of star wars is', len(star_wars_female)/len(star_wars_total_female) * 100)

Q5. Write code that computes the percentage of males and females that are fans of Star Wars.
Percentage of Males who are fans of star wars is 60.96579476861167

Percentage of females who are fans of star wars is 43.35154826958106

Attributions

https://sparkbyexamples.com/pandas/pandas-filter-rows-by-conditions/

https://www.geeksforgeeks.org/selecting-rows-in-pandas-dataframe-based-on-conditions/